form {
    text-align: center;
}

ul {

    text-align: center;
    list-style: none;
    background-color: lightgrey;
}

li {

    text-align: center;
    font-size: 30px;
}

.zip {

    text-align: center;
}

.zipCard {

    display: inline;
}
